<div class="col s6 m4 l3">
    <a href="<%= url_for(monster) %>">
        <div class="card">
            <div class="card-image">
            <%= image_tag "monsters/#{monster.image}" %>
            </div>
            <div class="card-content">
            <span class="card-title"><%= monster.name %></span>
            <div class="progress" style="height: 20px;">
                <div class="determinate <%= monster.health_color %>" style="width: <%= monster.health %>%"></div>
            </div>
            </div>
            <% if false %>
                <div class="card-action">
                    <i class="material-icons">search</i>
                    <%= link_to 'Find me', monster %>
                </div>
            <% end %>
        </div>
    </a>
</div>