
<div class="row card white">
    <div class="row">
        <div class="col s4">
            <%= image_tag "monsters/#{@monster.image}" %>
        </div>
        <div class="col s6">
            <h2><%= @monster.name %></h2>
            <p>Hallo ik heb vandaag <%= @monster.hunger_state_text %> honger.</p>
            <p>Honger status: <%= @monster.health %> / 100</p>
            <div class="progress" style="height: 20px;">
                <div class="determinate <%= @monster.health_color %>" style="width: <%= @monster.health %>%"></div>
            </div>
            <p>feeds / dag</p>
            <p>feeds / week</p>
            <p>feeds / maand</p>
        </div>
    </div>
    <div class="row center">
        <%= link_to "Geef mij een snoepje !", "/monsters/#{@monster.id}/feed/1", class: "btn pulse #{@monster.health_color}", method: "post" %>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div id="monster_detail_map" 
            data-monster-id="<%= @monster.id %>" 
            data-monster-longitude="<%= @monster.longitude %>"
            data-monster-latitude="<%= @monster.latitude %>"
            data-monster-image="<%= @monster.image %>"
        ></div>
        <div class="card">
            <h4>Geschiedenis</h4>
        </div>
    </div>
    <div class="col s6 card">
        <h4>Laatste snoepjes</h4>
        
        <% if @monster.feeds.any? %>
            <ul>
                <% @monster.feeds.each do |feed| %>
                    <li><%= time_ago_in_words(feed.created_at) %> van {username}</li>
                <% end %>
            </ul>
        <% else %>
            <p>Ik heb nog geen eten gekregen :(</p>
        <% end %>
    </div>
</div>


    <%= link_to 'Back', monsters_path, class:"btn" %>

