
<div class="row card white">
    <div class="row">
        <div class="col m4 s12 center">
            <%= image_tag "monsters/#{@monster.image}" %>
        </div>
        <div class="col m6 s12">
            <h2><%= @monster.name %></h2>
            <p>Hallo ik ben <%= @monster.name %>, en heb vandaag <%= @monster.hunger_state_text %> honger. Kom je eens langs?</p>
            <p>Gezondheid: <%= @monster.health %> / 100</p>
            <div class="progress" style="height: 20px;">
                <div class="determinate <%= @monster.health_color %>" style="width: <%= @monster.health %>%"></div>
            </div>
            <p>Ik krijg 5 snoepjes per dag</p>
        </div>
    </div>
    
    <div class="row center">
        <% if @monster.hunger_state == :no %>
            <p>Je ben <span id="distance_to_monster">-</span> km verwijderd van mij verwijderd. Ik heb nog niet veel honger, maar een bezoekje is altijd leuk!</p>
        <% else %>
            <p>Je ben <span id="distance_to_monster">-</span> km verwijderd van mij verwijderd. Wil je mij wat eten geven? ik heb <%= @monster.hunger_state_text %> honger.</p>
        <% end %>
    </div>
    
    
    <div class="row center">
        <% if current_user %>
            
            <% unless @monster.fed? %>
                <%= link_to "Geef mij een snoepje !", "/monsters/#{@monster.id}/feed/1", {class: "btn pulse #{@monster.health_color}", id: "feed_me", method: "post" }%>
                <p id="feed_me_text">Je bent nog te ver van me vandaan. Kom dichterbij en speel ook eens in de buurt.</p>
            <% else %>
                Je hebt mij vandaag al een snoepje gegeven. Ik moet eventje rusten.
            <% end %>
            
        <% else %>
            <p>Je moet aangemeld zijn om mij te voeden.</p>      
            <p>
                <%= link_to "Meld je aan", new_user_session_path, class: "btn" %>
                <%= link_to "Maak een account", new_user_registration_path, class: "btn"  %>
            </p>
        <% end %>
        
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div id="monster_detail_map" 
            data-monster-id="<%= @monster.id %>" 
            data-monster-longitude="<%= @monster.longitude %>"
            data-monster-latitude="<%= @monster.latitude %>"
            data-monster-image="<%= @monster.image %>"
        ></div>
        <div class="card">
            <h4>Geschiedenis</h4>
        </div>
    </div>
    <div class="col s12 m6 card">
        <h4>Laatste snoepjes</h4>
        
        <% if @monster.feeds.any? %>
            <ul>
                <% @monster.feeds.reverse_each do |feed| %>
                    <li><%= time_ago_in_words(feed.created_at) %> geleden van <%= feed.user_name %></li>
                <% end %>
            </ul>
        <% else %>
            <p>Ik heb nog geen eten gekregen :(</p>
        <% end %>
    </div>
</div>


    <%= link_to 'Back', monsters_path, class:"btn" %>

